:root {
    /* Настройки кнопок */
    --p-button-padding-y: 10px !important;
    --p-button-padding-x: 1rem;
    --p-button-border-radius: 7px !important;
    --p-button-font-size: 0.875rem;
    --p-button-label-font-weight:400 !important;
    --p-button-primary-background:#EF7C00 !important;
    --p-button-primary-border-color:#EF7C00 !important;

    /* Настройки полей ввода */
    --p-input-padding-y: 0.5rem;
    --p-input-padding-x: 0rem !important;
    --p-input-border-radius: 0.25rem;
    --p-input-font-size: 0.875rem;
    --p-inputtext-color: #2c2c2c2 !important;
    --p-floatlabel-color: #2c2c2c2 !important;
    /* Настройки карточек */
    --p-card-padding: 1rem;
    --p-card-border-radius: 0.5rem;

    /* Настройки таблиц */
    --p-table-cell-padding-y: 0.5rem;
    --p-table-cell-padding-x: 0.75rem;

    /* Другие общие настройки */
    --p-border-radius: 0.25rem;
    --p-spacing: 1rem;

    --p-form-field-border-radius:0 !important;
    --p-accordion-header-background: transparent !important;
    --p-accordion-header-hover-background: transparent !important;
    --p-accordion-header-active-background: transparent !important;
    --p-accordion-header-active-hover-background: transparent !important;
    --p-inputtext-hover-border-color: black !important;
    --p-inputtext-focus-border-color: black !important;
    --p-select-focus-border-color: black !important;
    --p-form-field-hover-border-color: black !important;
    --p-floatlabel-focus-color: black !important;
    --p-inputtext-focus-ring-shadow: unset !important;
    --p-select-focus-ring-shadow: unset !important;
    --p-accordion-header-padding: 16px 0 !important;
    --p-accordion-content-padding: 16px 0 !important;
    --p-accordion-header-color: black !important;

    --p-accordion-header-first-border-width : 0 !important;
    --p-accordion-header-border-width :0 !important;
    --p-accordion-content-border-width:0 !important;
    --p-accordion-content-background: unset !important;
    --p-accordion-header-last-bottom-border-radius:0 !important;
    --p-accordion-header-first-top-border-radius:0 !important;
}
